<header class="max-w-lg">

    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900 flex justify-end">
        <div class=" flex px-2 sm:px-4 py-2.5">
            <ul class="flex h-100 w-100 max-w-sm">
                <li class="px-4 w-75 flex justify-end flex-wrap">test</li>
                <li class="px-4 w-75 flex justify-end flex-wrap">test</li>
            </ul>
        </div>
    </nav>

</header>