<header class="">

    <nav class="bg-white flex p-6 justify-between">
        <div class="hamburger-menu-icon">
            <span class="span-1"></span>
            <span class="span-2"></span>
            <span class="span-3"></span>
        </div>
        <div class=" flex px-2 sm:px-4 py-2.5">
            <ul class="flex max-w-sm h-80">
                <li><a href="#"><img class="profile-pic rounded-full" src="/img/generic-profile.jpg"
                            alt="grey generic profile picture"></a>
                </li>
            </ul>
        </div>
    </nav>

</header>