<%- include('partials/head.ejs') %>
    </head>

    <body>
        <header class="main-header">
            <nav class="main-header_nav">
                <ul class="main-header_item-list">
                    <li class="main-header_item"></li>
                </ul>
            </nav>
        </header>
        <h1>Page not found</h1>
        <%- include('partials/footer.ejs') %>