<%- include('partials/head') %>
    </head>

    <body class="bg-lime-200">
        <%- include('partials/header.ejs') %>
            <h1>Welcome to your dashboard</h1>


            <%- include('partials/footer.ejs') %>