<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft It!</title>
</head>

<body>
    <h1>Welome to Minecraft It!</h1>
    <p>A place to share builds and build a community</p>


    <script src="main.js"></script>
</body>

</html>