<%- include('partials/head') %>
    </head>

    <body class="bg-lime-200">
        <h1 class="text-2xl ">Welcome to Minecraft It!</h1>
        <p>A place to share builds and build a community</p>
        <button class="">Already a user? Log in</button>
        <button>New? Sign up</button>

        <%- include('partials/footer.ejs') %>