<%- include('partials/head')%>
    </head>

    <body>
        <header class="main-header">
            <nav class="main-header_nav">
                <ul class="main-header_item-list">
                    <li class="main-header_item"></li>
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <form action="/" method="POST">
                    <label for="picture">Upload your build</label>
                    <input type="file" id="picture" name="picture" accept="image/png, img/jpeg">
                </form>
            </div>

            <button class="btn" type="submit">Post</button>
        </main>
    </body>


    </html>