<%- include('partials/head')%>
    <%- include('partials/head') %>
        </head>

        <body class="bg-lime-200">
            <%- include('partials/header.ejs') %>
                <h1 class="text-center font-bold animate-fade">Upload your build!</h1>
                <div>
                    <form action="/" method="POST">
                        <label for="picture"></label>
                        <input type="file" id="picture" name="picture" accept="image/png, img/jpeg">
                    </form>
                </div>

                <button class="btn" type="submit">Post</button>
                </main>
        </body>


        </html>