<%- include('partials/head')%>
    <%- include('partials/head') %>
        </head>

        <body class="bg-lime-200">
            <%- include('partials/header.ejs') %>
                <h1 class="text-center font-bold animate-fade">Upload your build!</h1>
                <div>
                    <form class="rounded px-8 pt-6 pb-8 mb-4 flex flex-col align-item-center" action="/my-uploads"
                        method="POST">
                        <label for="build"></label>
                        <input type="file" enctype="multipart/form-data" id="picture" name="build"
                            accept="image/png, img/jpeg">
                        <button
                            class="btn upload-build-btn transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-green-500 duration-300 text-white font-bold py-2 px-4 rounded-full"
                            type="submit">Post</button>
                    </form>
                    <div>
                        <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">
                        </script>
        </body>


        </html>