<%- include('partials/head') %>
    </head>
    </head>

    <body>
        <form action="/feed" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="username" required>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" placeholder="password" required>
            <button>Log In!</button>
        </form>

        <%- include('partials/footer.ejs') %>