<%- include('partials/head') %>
    </head>

    <body class="bg-lime-200">
        <%- include('partials/header.ejs') %>
            <h1 class="text-center font-bold animate-fade">Sucessfully connected this page</h1>


            <%- include('partials/footer.ejs') %>